.divider {
  text-align: center;
  font-size: 6rem;
  margin: 20px 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 4px solid #424242;
  border-radius: 10px;
  margin: 0 10px;
}

.image-viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  height: 50vh;
  width: 60%;
}

.image-wrapper {
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  border: 5px solid #f1ede5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.arrow {
  font-size: 3em;
  color: #333;
  cursor: pointer;
  user-select: none;
  padding: 10px;
}

.left-arrow {
  margin-right: 10px;
}

.right-arrow {
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  padding-bottom: 8rem;
}

.footer-container iframe {
  margin-right: 20px;
}

.address {
  text-align: center;
  font-size: x-large;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.menu-iframe {
  max-width: 100%;
  height: 720px;
  border: 0;
}

.Slideshow-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}

.image-grid-container {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

.image-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: repeat(12, 1fr);
  /* gap: min(10px, 0.1rem); */
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  /* background-color: #B3B0A8; */
  border-radius: 30px;
  /* width: 70%; */
  margin: auto;
}

.image-grid img {
  display: block;
  width: min(100px, 20vw);
  height: min(100px, 20vw);
  border-radius: 10px;
  object-fit: cover;
}

.divider-menu {
  text-align: center;
  font-size: 6rem;
  margin: 20px 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.socials-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 40px 0;
  text-align: center;
  padding-bottom: 5vh;
}

.socials-container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around; /* Make responsive to size*/
  align-items: center;
  /* gap: min(50px, 10vw) */
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.social-icons svg {
  width: min(20vw, 200px);
  height: min(20vw, 200px);
}

.speech-bubble {
  position: relative;
  display: flex;
  align-items: center;
}

.speech-bubble img {
  width: min(40vw, 400px); /* Make this propertu screen responsive*/
  height: auto;
}

.bubble-text {
  position: relative; /* Ensures it can be moved up */
  background-color: #e0a96d;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20vw; /* Adjust the width as needed */
  text-align: center; /* Center the text inside the box */
  margin-top: max(-50vw, -300px); /* Adjust this value to move the text up */
  /* Make it responsive */
}

.social-wrapper {
  position: relative;
}

.green-bubble {
  z-index: -1;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #b1d67c;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* justify-self: center;
  align-self: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  filter: blur(60px);
  animation-name: move-green-bubble;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.pink-bubble {
  z-index: -1;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #f8ab85;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* justify-self: center;
  align-self: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  filter: blur(60px); /* Responsive blur (lower blur for smaller devices)*/
  animation-name: move-pink-bubble;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes move-green-bubble {
  0% {
    left: 20vw;
    bottom: 5vh;
  }
  25% {
    left: 12vw;
    bottom: 4vh;
    scale: 0.85;
  }
  50% {
    left: 8vw;
    bottom: -2vh;
    scale: 0.95;
  }
  75% {
    left: 16vw;
    bottom: 0vh;
    scale: 1.1;
  }
  100% {
    left: 20vw;
    bottom: 5vh;
  }
}

@keyframes move-pink-bubble {
  0% {
    left: -15vw;
    bottom: -10vh;
  }
  25% {
    left: -25vw;
    bottom: -6vh;
    scale: 1.1;
  }
  50% {
    left: -30vw;
    bottom: 4vh;
    scale: 1.05;
  }
  75% {
    left: -30vw;
    bottom: 8vh;
    scale: 1.3;
  }
  100% {
    left: -15vw;
    bottom: -10vh;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-grid {
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 400px;
  margin-left: 10%;
  margin-right: 10%;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}

@media screen and (max-width: 1873px) {
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
/* Medium screens */
@media screen and (max-width: 610px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
  }
  .card-tall {
    grid-row: auto;
  }
}

@media screen and (max-width: 710px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
  }
  .green-bubble {
    filter: blur(35px);
  }
  .pink-bubble {
    filter: blur(35px);
  }
}


.menu-container-2 {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full viewport height */
  box-sizing: border-box; /* Include padding in height calculation */
}

.menu-container-2 iframe {
  width: 100%;
  max-width: 816px;
  height: calc(100% - 40px); /* Subtract padding to avoid overflow */
  min-height: 550px;
  box-sizing: border-box; /* Include padding in height calculation */
}

@media screen and (min-width: 900px) {
  .menu-container-2 {
    height: 600px; /* Take full viewport height */
  }
}

@media screen and (max-width: 500px) {
  .menu-container-2 {
    height: 130vh; /* Take full viewport height */
  }
  .menu-container-2 iframe {
    height: calc(130% + 70px);
  }
}

@media screen and (max-width: 400px) {
  .divider-menu {
    font-size: 4rem;
  -webkit-text-stroke-width: 2px;
  }
  .divider {
  font-size: 4rem;
  -webkit-text-stroke-width: 2px;
  }
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px; /* Optional: gap between images */
  padding: 5vh;
}

.media-container svg {
  display: inline-block;
  height: auto;
  display: block;
  width: min(15vw, 150px);
  height: min(15vw, 150px);
}

.waitress-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px; /* Optional: gap between images */
  padding: 5vh;
}

.waitress-container img {
  width: min(40vw, 400px); /* Make this propertu screen responsive*/
  height: auto;
}